In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('./df_test.csv')

In [3]:
df

,Unnamed: 0,R,I_noise,E_noise,E_black,E_white,M_noise,M_black,M_white,T_noise,...,B_o,D_o,ml_outcomes,ml_outcomes_black,ml_outcomes_white,ml_outcomes_decision,ml_outcomes_decision_black,ml_outcomes_decision_white,ml_outcomes_decision_counterfactual,ml_outcomes_div
0,1,0,0.227306,-21.893461,-21.9,28.1,-35.145664,-21.1,3.9,3.546257,...,0,0,-0.124760,-0.205694,-0.124760,0,0,0,0,-0.124760
1,2,0,0.120785,-42.238186,-42.2,7.8,-22.218738,-18.3,6.7,-4.346790,...,0,0,-0.243000,-0.294179,-0.243000,0,0,0,0,-0.243000
2,3,0,1.319671,-13.731958,-13.7,36.3,-7.422060,10.7,35.7,-1.800156,...,0,0,0.058099,-0.150391,0.058099,0,0,0,0,0.058099
3,4,1,0.422446,41.281836,41.3,91.3,-2.268294,43.4,68.4,-0.483507,...,0,1,0.269912,0.269912,0.708418,1,1,1,1,0.469912
4,5,0,-0.479509,-3.617811,-3.6,46.4,-7.510857,15.7,40.7,10.227568,...,0,0,0.233396,-0.017013,0.233396,1,0,1,0,0.233396
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
99995,99996,1,0.273845,-25.993886,-26.0,24.0,11.861232,23.9,48.9,7.490090,...,0,0,-0.117860,-0.117860,0.116532,0,0,0,0,0.082140
99996,99997,0,0.700153,-60.781407,-60.8,-10.8,-12.646327,-18.0,7.0,4.232566,...,0,0,-0.255374,-0.276612,-0.255374,0,0,0,0,-0.255374
99997,99998,0,-0.095336,-63.016039,-63.0,-13.0,-11.499089,-18.0,7.0,-0.443518,...,0,0,-0.296620,-0.311746,-0.296620,0,0,0,0,-0.296620
99998,99999,0,-0.314514,-7.444312,-7.4,42.6,58.016605,79.3,104.3,-6.825029,...,1,0,0.497374,0.032434,0.497374,1,0,1,0,0.497374
99999,100000,0,0.940418,-7.342527,-7.3,42.7,-11.471246,9.9,34.9,0.911408,...,0,0,0.108970,-0.109402,0.108970,0,0,0,0,0.108970

In [4]:
df.columns

Index(['Unnamed: 0', 'R', 'I_noise', 'E_noise', 'E_black', 'E_white',
       'M_noise', 'M_black', 'M_white', 'T_noise', 'T_black', 'T_white', 'E',
       'M', 'T', 'A_raw', 'A_raw_black', 'A_raw_white', 'A_prob', 'A', 'L_p',
       'B_p', 'D_p', 'L_o', 'B_o', 'D_o', 'ml_outcomes', 'ml_outcomes_black',
       'ml_outcomes_white', 'ml_outcomes_decision',
       'ml_outcomes_decision_black', 'ml_outcomes_decision_white',
       'ml_outcomes_decision_counterfactual', 'ml_outcomes_div'],
      dtype='object')

In [6]:
df[['R','T','ml_outcomes','ml_outcomes_black','ml_outcomes_white','ml_outcomes_decision']]

,R,T,ml_outcomes,ml_outcomes_black,ml_outcomes_white,ml_outcomes_decision
0,0,20.6,-0.124760,-0.205694,-0.124760,0
1,0,3.4,-0.243000,-0.294179,-0.243000,0
2,0,47.2,0.058099,-0.150391,0.058099,0
3,1,59.8,0.269912,0.269912,0.708418,1
4,0,72.7,0.233396,-0.017013,0.233396,1
...,...,...,...,...,...,...
99995,1,0.2,-0.117860,-0.117860,0.116532,0
99996,0,1.6,-0.255374,-0.276612,-0.255374,0
99997,0,-4.4,-0.296620,-0.311746,-0.296620,0
99998,0,111.1,0.497374,0.032434,0.497374,1
99999,0,54.6,0.108970,-0.109402,0.108970,0

In [8]:
df[['R','T','ml_outcomes']].groupby(['R','T']).mean().reset_index()

      R      T  ml_outcomes
0     0  -36.5    -0.517289
1     0  -35.5    -0.510414
2     0  -34.7    -0.504915
3     0  -33.2    -0.494603
4     0  -32.7    -0.491166
...  ..    ...          ...
4672  1  193.6     1.140447
4673  1  198.1     1.169725
4674  1  198.9     1.174930
4675  1  207.4     1.230233
4676  1  210.5     1.250402

[4677 rows x 3 columns]

In [11]:
from ortools.linear_solver import pywraplp

In [10]:
df_ = df.head(n=100)

In [ ]:
applicants = [[]] * len(df)

# Objective: minimize the sum of (price-normalized) foods.
objective = solver.Objective()
for ix, row in df_.iterrows():
    applicants[i] = solver.NumVar(0.0, 1.0, str(ix))
    objective.SetCoefficient(applicants[i], 1)
objective.SetMaximization()