In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
import os

DIVERSITY_UTILITY = float(os.environ.get('DIVERSITY_UTILITY'))
FRAC_ADMIT = float(os.environ.get('FRAC_ADMIT'))

In [3]:
###
## Load dataframe where each row is a single applicant
###

df = pd.read_csv('./df_test.csv')
df['key'] = df['R'].astype(str) + "_"  + df['T'].astype(str)

###
## Estimate E[Y(1)|T, A]
###

df_train = pd.read_csv('./df_train.csv')
df_stratum_utility = df_train[['R','T','B_p']].groupby(['R','T']).mean().reset_index()
df_stratum_utility['stratum_utility'] = (df_stratum_utility['B_p'] + DIVERSITY_UTILITY * df_stratum_utility['R']).round(2)
df_stratum_utility['key'] = df_stratum_utility['R'].astype(str) + "_" + df_stratum_utility['T'].astype(str)

df = df.merge(df_stratum_utility[['stratum_utility','key']], on='key')
df['ml_outcomes'] = df['stratum_utility']

In [4]:
##
# R = race, T = test score, ml_outcomes = expected utility from admitting, 
# ml_outcomes_{} counterfactual utility given race 
##

df[['R','T','ml_outcomes','T_black','T_white','B_p']].sort_values(by='ml_outcomes')

       R    T  ml_outcomes  T_black  T_white  B_p
99985  0   14         0.03       13       14    0
99986  0   12         0.05       10       12    0
99931  0   19         0.06       14       19    0
99935  0   19         0.06       15       19    0
99934  0   19         0.06       16       19    0
...   ..  ...          ...      ...      ...  ...
99977  1   95         1.45       95      109    1
99994  1   94         1.48       94      108    1
99974  1   97         1.50       97      114    1
99996  1  104         1.50      104      121    1
99914  1  101         1.50      101      116    0

[100000 rows x 6 columns]

In [5]:
#df['ml_outcomes'] = df['ml_outcomes'] + 1*df['R']

In [6]:
###
## Get total utility from admitting people in a stratum 
###

df_ = df[['R','T','ml_outcomes']].groupby(['R','T']).sum().reset_index()

In [7]:
###
## Get number of people in each stratum
###

df_count = df[['R','T','ml_outcomes']].groupby(['R','T']).count().reset_index()
df_count.columns = ['R','T','Count']
df_count['N'] = df_count['Count']

In [8]:
###
## Merge summary tables to get one table with Race, Test Score, SUM(Utility), COUNT(applicants) per stratum
###

dff = df_.merge(df_count[['N']],left_index=True,right_index=True).sort_values(by='ml_outcomes',ascending=False).reset_index().sort_values(by='index').reset_index()

In [9]:
# final info table
dff.sort_values(by='ml_outcomes')

    level_0  index  R   T  ml_outcomes     N
1       192      1  0  14         0.03     1
0       191      0  0  12         0.05     1
3       190      3  0  16         0.14     2
2       189      2  0  15         0.18     2
4       188      4  0  17         0.28     4
..      ...    ... ..  ..          ...   ...
44        4     44  0  57      1071.36  1984
45        3     45  0  58      1083.04  1934
47        2     47  0  60      1092.00  1820
43        1     43  0  56      1105.00  2125
46        0     46  0  59      1125.20  1940

[193 rows x 6 columns]

### Setup optimization problem

In [10]:
from ortools.linear_solver import pywraplp

In [11]:
solver = pywraplp.Solver.CreateSolver('GLOP')

In [12]:
dff

     level_0  index  R    T  ml_outcomes  N
0        191      0  0   12         0.05  1
1        192      1  0   14         0.03  1
2        189      2  0   15         0.18  2
3        190      3  0   16         0.14  2
4        188      4  0   17         0.28  4
..       ...    ... ..  ...          ... ..
188      171    188  1   94         1.48  1
189      172    189  1   95         1.45  1
190      168    190  1   97         1.50  1
191      169    191  1  101         1.50  1
192      170    192  1  104         1.50  1

[193 rows x 6 columns]

In [13]:
applicant_stratum = []
vars_cache = {}

# Objective: Maximize the expected utility of the admitted students
objective = solver.Objective()

# For each stratum
for ix, row in dff.iterrows():
    # probability of admission
    numvar = solver.NumVar(0.0, 1.0, str(ix))
    
    # store variable by index, and also by stratum R, T
    applicant_stratum.append(numvar)
    vars_cache[(row['R'],row['T'])] = numvar
    
    # Benefit of admitting people is total utility in that stratum
    objective.SetCoefficient(applicant_stratum[ix], float(row['ml_outcomes']))
objective.SetMaximization()

In [14]:
# Currently we have no constraints 
solver.NumConstraints()

0

In [15]:
# Constraint: At most K applicants
K = int(len(df)*FRAC_ADMIT)
print(K)
admit_quota = solver.Constraint(0, K)

# Total admits cannot exceed K 
for ix, row in dff.iterrows():
    admit_quota.SetCoefficient(applicant_stratum[ix], float(row['N']))

50000

In [16]:
# Now we have one constraint
solver.NumConstraints()

1

## Solve linear program

In [17]:
solver.ABNORMAL

4

In [18]:
status = solver.Solve()

In [19]:
status

0

In [20]:
solver.OPTIMAL

0

In [21]:
row = []
admit = []

for i in applicant_stratum:
    row.append(int(str(i)))
    admit.append(i.solution_value())

df_decisions = pd.DataFrame({'row_id':row,'decision':admit})

In [22]:
df_decisions

     row_id  decision
0         0       0.0
1         1       0.0
2         2       0.0
3         3       0.0
4         4       0.0
..      ...       ...
188     188       1.0
189     189       1.0
190     190       1.0
191     191       1.0
192     192       1.0

[193 rows x 2 columns]

In [23]:
dff.merge(df_decisions,left_index=True,right_index=True).sort_values(by='ml_outcomes',ascending=False)

    level_0  index  R   T  ml_outcomes     N  row_id  decision
46        0     46  0  59      1125.20  1940      46       0.0
43        1     43  0  56      1105.00  2125      43       0.0
47        2     47  0  60      1092.00  1820      47       0.0
45        3     45  0  58      1083.04  1934      45       0.0
44        4     44  0  57      1071.36  1984      44       0.0
..      ...    ... ..  ..          ...   ...     ...       ...
4       188      4  0  17         0.28     4       4       0.0
2       189      2  0  15         0.18     2       2       0.0
3       190      3  0  16         0.14     2       3       0.0
0       191      0  0  12         0.05     1       0       0.0
1       192      1  0  14         0.03     1       1       0.0

[193 rows x 8 columns]

In [24]:
xxx_ = dff.merge(df_decisions,left_index=True,right_index=True).sort_values(by='ml_outcomes',ascending=False)
xxx_.sort_values(by='T')

     level_0  index  R    T  ml_outcomes  N  row_id  decision
104      184    104  1    5         0.50  1     104       0.0
105      185    105  1    8         0.50  1     105       0.0
106      176    106  1   10         1.04  2     106       0.0
0        191      0  0   12         0.05  1       0       0.0
107      183    107  1   13         0.52  1     107       0.0
..       ...    ... ..  ...          ... ..     ...       ...
99       161     99  0  112         3.00  3      99       1.0
100      165    100  0  113         2.00  2     100       1.0
101      177    101  0  114         1.00  1     101       1.0
102      179    102  0  116         0.99  1     102       1.0
103      178    103  0  117         0.99  1     103       1.0

[193 rows x 8 columns]

In [25]:
xxx = dff.merge(df_decisions,left_index=True,right_index=True).sort_values(by='ml_outcomes',ascending=False)
xxx

    level_0  index  R   T  ml_outcomes     N  row_id  decision
46        0     46  0  59      1125.20  1940      46       0.0
43        1     43  0  56      1105.00  2125      43       0.0
47        2     47  0  60      1092.00  1820      47       0.0
45        3     45  0  58      1083.04  1934      45       0.0
44        4     44  0  57      1071.36  1984      44       0.0
..      ...    ... ..  ..          ...   ...     ...       ...
4       188      4  0  17         0.28     4       4       0.0
2       189      2  0  15         0.18     2       2       0.0
3       190      3  0  16         0.14     2       3       0.0
0       191      0  0  12         0.05     1       0       0.0
1       192      1  0  14         0.03     1       1       0.0

[193 rows x 8 columns]

In [26]:
len(xxx_)

193

In [27]:
xxx.to_csv('./decision.csv')

In [28]:
solution = pd.read_csv('./decision.csv')

In [29]:
xxx

    level_0  index  R   T  ml_outcomes     N  row_id  decision
46        0     46  0  59      1125.20  1940      46       0.0
43        1     43  0  56      1105.00  2125      43       0.0
47        2     47  0  60      1092.00  1820      47       0.0
45        3     45  0  58      1083.04  1934      45       0.0
44        4     44  0  57      1071.36  1984      44       0.0
..      ...    ... ..  ..          ...   ...     ...       ...
4       188      4  0  17         0.28     4       4       0.0
2       189      2  0  15         0.18     2       2       0.0
3       190      3  0  16         0.14     2       3       0.0
0       191      0  0  12         0.05     1       0       0.0
1       192      1  0  14         0.03     1       1       0.0

[193 rows x 8 columns]

In [30]:
(xxx['ml_outcomes']*xxx['decision']).sum()

40481.58999999998

In [31]:
def maxMLOutcomes(frac_black=0.01):
    black_admits = int(K*frac_black)
    white_admits = int(K*(1-frac_black))
    
    b = df[df['R']==1].sort_values(by='ml_outcomes',ascending=False).head(n=black_admits)
    w = df[df['R']==0].sort_values(by='ml_outcomes',ascending=False).head(n=white_admits)
    
    return b['B_p'].sum() + w['B_p'].sum()

In [32]:
def maxMLOutcomesBlack(frac_black=0.01):
    black_admits = int(K*frac_black)
    white_admits = int(K*(1-frac_black))
    
    b = df[df['R']==1].sort_values(by='ml_outcomes',ascending=False).head(n=black_admits)
    w = df[df['R']==0].sort_values(by='ml_outcomes',ascending=False).head(n=white_admits)
    
    return b['B_p'].sum()

In [33]:
df['key'] = df['R'].astype(str)+'_'+df['T'].astype(str)
xxx['key'] = xxx['R'].astype(str)+'_'+xxx['T'].astype(str)

In [34]:
len(xxx)

193

In [35]:
admit_decisions = df.merge(xxx,how='left',on='key')
admit_decisions['decision_random'] = pd.Series([random.random() for x in range(0,len(admit_decisions))]) < FRAC_ADMIT


FRAC_BLACK_POLICY = (admit_decisions['R_y'] * admit_decisions['decision']).sum()/admit_decisions['decision'].sum()
SUM_BP_POLICY = ( admit_decisions['B_p'] * admit_decisions['decision']).sum()

FRAC_RANDOM_POLICY = (admit_decisions['R_y'] * admit_decisions['decision_random']).sum()/admit_decisions['decision_random'].sum()
SUM_BP_RAND_POLICY = ( admit_decisions['B_p'] * admit_decisions['decision_random']).sum()

In [36]:
file = open('./lp_results.csv','w')
file.write('{}\t{}\t{}\n'.format('Policy Name','Frac Diverse Candidates','Total Graduated'))
file.write('{}\t{}\t{}\n'.format('Random',str(FRAC_RANDOM_POLICY),str(SUM_BP_RAND_POLICY)))
file.write('{}\t{}\t{}\n'.format('Maximize Utility',str(FRAC_BLACK_POLICY),str(SUM_BP_POLICY)))
file.close()

In [37]:
(xxx['N']*xxx['decision']).sum()/len(df)

0.4999999999999996