In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
pd.options.display.max_rows = 10
pd.options.display.max_columns = 500

In [2]:
DIVERSITY_UTILITY = 0.25
FRAC_ADMIT = 0.5


###
## Load dataframe where each row is a single applicant
###

df = pd.read_csv('./df_test.csv')
df['key'] = df['R'].astype(str) + "_"  + df['T'].astype(str)

df_stratum_utility = df[['R','T','B_p']].groupby(['R','T']).mean().reset_index()
df_stratum_utility['stratum_utility'] = (df_stratum_utility['B_p'] + DIVERSITY_UTILITY * df_stratum_utility['R']).round(2)
df_stratum_utility['key'] = df_stratum_utility['R'].astype(str) + "_" + df_stratum_utility['T'].astype(str)

df = df.merge(df_stratum_utility[['stratum_utility','key']], on='key')
df['ml_outcomes'] = df['stratum_utility']

In [3]:
##
# R = race, T = test score, ml_outcomes = expected utility from admitting, 
# ml_outcomes_{} counterfactual utility given race 
##

df[['R','T','ml_outcomes','T_black','T_white','B_p']].sort_values(by='ml_outcomes')

,R,T,ml_outcomes,T_black,T_white,ml_outcomes_black,ml_outcomes_white,ml_outcomes_decision,B_p
99967,0,14,0.00,13,14,-3.733393,-3.534056,0,0
98909,0,17,0.00,13,17,-3.733393,-3.287823,0,0
99969,0,15,0.00,10,15,-3.979626,-3.451979,0,0
99634,0,18,0.00,16,18,-3.487161,-3.205746,0,0
99633,0,18,0.00,16,18,-3.487161,-3.205746,0,0
...,...,...,...,...,...,...,...,...,...
99940,1,86,1.25,86,100,2.258267,3.524612,1,1
99349,1,85,1.25,85,99,2.176189,3.442535,1,1
99347,1,85,1.25,85,99,2.176189,3.442535,1,1
99345,1,85,1.25,85,99,2.176189,3.442535,1,1
99888,1,97,1.25,97,113,3.161120,4.591620,1,1

In [4]:
#df['ml_outcomes'] = df['ml_outcomes'] + 1*df['R']

In [5]:
###
## Get total utility from admitting people in a stratum 
###

df_ = df[['R','T','ml_outcomes']].groupby(['R','T']).sum().reset_index()

In [6]:
###
## Get number of people in each stratum
###

df_count = df[['R','T','ml_outcomes']].groupby(['R','T']).count().reset_index()
df_count.columns = ['R','T','Count']
df_count['N'] = df_count['Count']

In [7]:
###
## Merge summary tables to get one table with Race, Test Score, SUM(Utility), COUNT(applicants) per stratum
###

dff = df_.merge(df_count[['N']],left_index=True,right_index=True).sort_values(by='ml_outcomes',ascending=False).reset_index().sort_values(by='index').reset_index()

In [8]:
# final info table
dff.sort_values(by='ml_outcomes')

    level_0  index  R   T  ml_outcomes     N
0       196      0  0  11         0.00     1
1       192      1  0  14         0.00     1
2       190      2  0  15         0.00     2
3       191      3  0  16         0.00     2
4       189      4  0  17         0.00     3
..      ...    ... ..  ..          ...   ...
49        4     49  0  62      1086.75  1725
43        3     43  0  56      1088.36  2093
44        2     44  0  57      1100.52  2038
48        1     48  0  61      1109.43  1761
47        0     47  0  60      1122.40  1840

[197 rows x 6 columns]

### Setup optimization problem

In [9]:
from ortools.linear_solver import pywraplp

In [10]:
solver = pywraplp.Solver.CreateSolver('GLOP')

In [11]:
dff

     level_0  index  R    T  ml_outcomes  N
0        196      0  0   11         0.00  1
1        192      1  0   14         0.00  1
2        190      2  0   15         0.00  2
3        191      3  0   16         0.00  2
4        189      4  0   17         0.00  3
..       ...    ... ..  ...          ... ..
192      174    192  1   96         1.25  1
193      157    193  1   97         3.75  3
194      175    194  1   99         1.25  1
195      176    195  1  100         1.25  1
196      177    196  1  108         1.25  1

[197 rows x 6 columns]

In [12]:
applicant_stratum = []
vars_cache = {}

# Objective: Maximize the expected utility of the admitted students
objective = solver.Objective()

# For each stratum
for ix, row in dff.iterrows():
    # probability of admission
    numvar = solver.NumVar(0.0, 1.0, str(ix))
    
    # store variable by index, and also by stratum R, T
    applicant_stratum.append(numvar)
    vars_cache[(row['R'],row['T'])] = numvar
    
    # Benefit of admitting people is total utility in that stratum
    objective.SetCoefficient(applicant_stratum[ix], float(row['ml_outcomes']))
objective.SetMaximization()

In [13]:
# Currently we have no constraints 
solver.NumConstraints()

0

In [14]:
# Constraint: At most K applicants
K = int(len(df)*FRAC_ADMIT)
print(K)
admit_quota = solver.Constraint(0, K)

# Total admits cannot exceed K 
for ix, row in dff.iterrows():
    admit_quota.SetCoefficient(applicant_stratum[ix], float(row['N']))

50000

In [15]:
# Now we have one constraint
solver.NumConstraints()

1

## Add Equalized Odds Constraints

In [16]:
from collections import Counter

def convertListToProb(raw_list):
    counts = dict(Counter(raw_list))
    probs = {}
    for test_score in counts:
        probs[test_score]  = counts[test_score]/float(len(raw_list))
    return [(probs[t], t) for t in probs]

In [17]:
T_blacks_list = df[df['R']==0][['T','T_black']].groupby('T')['T_black'].apply(list).reset_index(name='T_blacks')
T_blacks_list['probs'] = T_blacks_list['T_blacks'].apply(convertListToProb)
didntexist = 0
exists = 0
for ix, row in T_blacks_list.iterrows():
    cf_fair_stratum = solver.Constraint(0.0, 0.0)

    White_T = row['T']
    Blacks_Ts = row['probs']        
    cf_fair_stratum.SetCoefficient(vars_cache[(0.0, White_T)], -1.0)
    for prob in Blacks_Ts:
        if (1.0, prob[1]) not in vars_cache:
            vars_cache[(1.0, prob[1])] = solver.NumVar(0.0, 1.0, str((1.0, prob[1])))
            didntexist+=1
        else:
            exists+=1
        cf_fair_stratum.SetCoefficient(vars_cache[(1.0, prob[1])], prob[0])
didntexist,exists

(7, 727)

In [18]:
T_whites_list = df[df['R']==1][['T','T_white']].groupby('T')['T_white'].apply(list).reset_index(name='T_whites')
T_whites_list['probs'] = T_whites_list['T_whites'].apply(convertListToProb)
didntexist = 0
exists = 0

for ix, row in T_whites_list.iterrows():
    cf_fair_stratum = solver.Constraint(0.0, 0.0)

    Black_T = row['T']
    White_Ts = row['probs']
    
    cf_fair_stratum.SetCoefficient(vars_cache[(1.0, Black_T)], -1.0)
    for prob in White_Ts:
        if (0.0, prob[1]) not in vars_cache:
            vars_cache[(0.0, prob[1])] = solver.NumVar(0.0, 1.0, str((0.0, prob[1])))
            didntexist+=1
        else:
            exists+=1
            
        cf_fair_stratum.SetCoefficient(vars_cache[(0.0, prob[1])], prob[0])
didntexist,exists

(1, 630)

In [19]:
solver.NumConstraints()

198

## Solve linear program

In [20]:
solver.ABNORMAL

4

In [21]:
status = solver.Solve()

In [22]:
status

0

In [23]:
solver.OPTIMAL

0

In [24]:
row = []
admit = []

for i in applicant_stratum:
    row.append(int(str(i)))
    admit.append(i.solution_value())

df_decisions = pd.DataFrame({'row_id':row,'decision':admit})

In [25]:
df_decisions

     row_id  decision
0         0  0.000000
1         1  0.499925
2         2  0.249962
3         3  0.499925
4         4  0.499925
..      ...       ...
192     192  0.499925
193     193  0.666617
194     194  1.000000
195     195  1.000000
196     196  1.000000

[197 rows x 2 columns]

In [26]:
dff.merge(df_decisions,left_index=True,right_index=True).sort_values(by='ml_outcomes',ascending=False)

    level_0  index  R   T  ml_outcomes     N  row_id  decision
47        0     47  0  60      1122.40  1840      47  0.499925
48        1     48  0  61      1109.43  1761      48  0.499925
44        2     44  0  57      1100.52  2038      44  0.499925
43        3     43  0  56      1088.36  2093      43  0.499925
49        4     49  0  62      1086.75  1725      49  0.499925
..      ...    ... ..  ..          ...   ...     ...       ...
1       192      1  0  14         0.00     1       1  0.499925
5       193      5  0  18         0.00    11       5  0.499925
6       194      6  0  19         0.00    11       6  0.499925
7       195      7  0  20         0.00    16       7  0.499925
0       196      0  0  11         0.00     1       0  0.000000

[197 rows x 8 columns]

In [27]:
xxx_ = dff.merge(df_decisions,left_index=True,right_index=True).sort_values(by='ml_outcomes',ascending=False)
xxx_.sort_values(by='T')

     level_0  index  R    T  ml_outcomes  N  row_id  decision
0        196      0  0   11         0.00  1       0  0.000000
108      187    108  1   11         0.25  1     108  0.499925
109      186    109  1   12         0.25  1     109  0.499925
110      185    110  1   13         0.50  2     110  0.499925
111      184    111  1   14         0.75  3     111  0.499925
..       ...    ... ..  ...          ... ..     ...       ...
103      165    103  0  116         2.00  2     103  1.000000
104      164    104  0  119         2.00  2     104  1.000000
105      182    105  0  121         1.00  1     105  1.000000
106      181    106  0  127         1.00  1     106  1.000000
107      180    107  0  129         1.00  1     107  1.000000

[197 rows x 8 columns]

In [28]:
xxx = dff.merge(df_decisions,left_index=True,right_index=True).sort_values(by='ml_outcomes',ascending=False)
xxx

    level_0  index  R   T  ml_outcomes     N  row_id  decision
47        0     47  0  60      1122.40  1840      47  0.499925
48        1     48  0  61      1109.43  1761      48  0.499925
44        2     44  0  57      1100.52  2038      44  0.499925
43        3     43  0  56      1088.36  2093      43  0.499925
49        4     49  0  62      1086.75  1725      49  0.499925
..      ...    ... ..  ..          ...   ...     ...       ...
1       192      1  0  14         0.00     1       1  0.499925
5       193      5  0  18         0.00    11       5  0.499925
6       194      6  0  19         0.00    11       6  0.499925
7       195      7  0  20         0.00    16       7  0.499925
0       196      0  0  11         0.00     1       0  0.000000

[197 rows x 8 columns]

In [29]:
len(xxx_)

197

In [30]:
xxx.to_csv('./decision.csv')

In [31]:
solution = pd.read_csv('./decision.csv')

In [32]:
xxx

    level_0  index  R   T  ml_outcomes     N  row_id  decision
47        0     47  0  60      1122.40  1840      47  0.499925
48        1     48  0  61      1109.43  1761      48  0.499925
44        2     44  0  57      1100.52  2038      44  0.499925
43        3     43  0  56      1088.36  2093      43  0.499925
49        4     49  0  62      1086.75  1725      49  0.499925
..      ...    ... ..  ..          ...   ...     ...       ...
1       192      1  0  14         0.00     1       1  0.499925
5       193      5  0  18         0.00    11       5  0.499925
6       194      6  0  19         0.00    11       6  0.499925
7       195      7  0  20         0.00    16       7  0.499925
0       196      0  0  11         0.00     1       0  0.000000

[197 rows x 8 columns]

In [33]:
(xxx['ml_outcomes']*xxx['decision']).sum()

26186.20343444714

In [34]:
def maxMLOutcomes(frac_black=0.01):
    black_admits = int(K*frac_black)
    white_admits = int(K*(1-frac_black))
    
    b = df[df['R']==1].sort_values(by='ml_outcomes',ascending=False).head(n=black_admits)
    w = df[df['R']==0].sort_values(by='ml_outcomes',ascending=False).head(n=white_admits)
    
    return b['B_p'].sum() + w['B_p'].sum()

In [35]:
def maxMLOutcomesBlack(frac_black=0.01):
    black_admits = int(K*frac_black)
    white_admits = int(K*(1-frac_black))
    
    b = df[df['R']==1].sort_values(by='ml_outcomes',ascending=False).head(n=black_admits)
    w = df[df['R']==0].sort_values(by='ml_outcomes',ascending=False).head(n=white_admits)
    
    return b['B_p'].sum()

In [36]:
df['key'] = df['R'].astype(str)+'_'+df['T'].astype(str)
xxx['key'] = xxx['R'].astype(str)+'_'+xxx['T'].astype(str)

In [37]:
len(xxx)

197

In [38]:
admit_decisions = df.merge(xxx,how='left',on='key')
admit_decisions['decision_random'] = pd.Series([random.random() for x in range(0,len(admit_decisions))]) < FRAC_ADMIT


FRAC_BLACK_POLICY = (admit_decisions['R_y'] * admit_decisions['decision']).sum()/admit_decisions['decision'].sum()
SUM_BP_POLICY = ( admit_decisions['B_p'] * admit_decisions['decision']).sum()

FRAC_RANDOM_POLICY = (admit_decisions['R_y'] * admit_decisions['decision_random']).sum()/admit_decisions['decision_random'].sum()
SUM_BP_RAND_POLICY = ( admit_decisions['B_p'] * admit_decisions['decision_random']).sum()

In [39]:
file = open('./lp_results.csv','a')
file.write('{}\t{}\t{}\n'.format('Counterfactual Fairness',str(FRAC_BLACK_POLICY),str(SUM_BP_POLICY)))
file.close()

In [40]:
(xxx['N']*xxx['decision']).sum()/len(df)

0.4999999999999998