In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
pd.options.display.max_rows = 10
pd.options.display.max_columns = 500

In [2]:
DIVERSITY_UTILITY = 0.25
FRAC_ADMIT = 0.5


###
## Load dataframe where each row is a single applicant
###

df = pd.read_csv('./df_test.csv')
df['key'] = df['R'].astype(str) + "_"  + df['T'].astype(str)

###
## Estimate E[Y(1)|T, A]
###

df_train = pd.read_csv('./df_train.csv')
df_stratum_utility = df_train[['R','T','B_p']].groupby(['R','T']).mean().reset_index()
df_stratum_utility['stratum_utility'] = (df_stratum_utility['B_p'] + DIVERSITY_UTILITY * df_stratum_utility['R']).round(2)
df_stratum_utility['key'] = df_stratum_utility['R'].astype(str) + "_" + df_stratum_utility['T'].astype(str)

df = df.merge(df_stratum_utility[['stratum_utility','key']], on='key')
df['ml_outcomes'] = df['stratum_utility']

In [4]:
##
# R = race, T = test score, ml_outcomes = expected utility from admitting, 
# ml_outcomes_{} counterfactual utility given race 
##

df[['R','T','ml_outcomes','T_black','T_white','B_p']].sort_values(by='ml_outcomes')

       R    T  ml_outcomes  T_black  T_white  B_p
99999  0   11         0.03        8       11    0
99728  0   15         0.04       11       15    0
99729  0   15         0.04       12       15    0
99805  0   13         0.04       11       13    0
99948  0   14         0.04       10       14    0
...   ..  ...          ...      ...      ...  ...
99984  1   98         1.21       98      114    1
99945  1   99         1.22       99      114    1
99996  1  101         1.22      101      116    1
99998  1  100         1.22      100      117    1
99921  1  109         1.23      109      125    1

[100000 rows x 6 columns]

In [5]:
#df['ml_outcomes'] = df['ml_outcomes'] + 1*df['R']

In [6]:
###
## Get total utility from admitting people in a stratum 
###

df_ = df[['R','T','ml_outcomes']].groupby(['R','T']).sum().reset_index()

In [7]:
###
## Get number of people in each stratum
###

df_count = df[['R','T','ml_outcomes']].groupby(['R','T']).count().reset_index()
df_count.columns = ['R','T','Count']
df_count['N'] = df_count['Count']

In [8]:
###
## Merge summary tables to get one table with Race, Test Score, SUM(Utility), COUNT(applicants) per stratum
###

dff = df_.merge(df_count[['N']],left_index=True,right_index=True).sort_values(by='ml_outcomes',ascending=False).reset_index().sort_values(by='index').reset_index()

In [9]:
# final info table
dff.sort_values(by='ml_outcomes')

    level_0  index  R   T  ml_outcomes     N
0       192      0  0  11         0.03     1
1       191      1  0  13         0.04     1
2       190      2  0  14         0.04     1
3       189      3  0  15         0.12     3
4       188      4  0  16         0.15     3
..      ...    ... ..  ..          ...   ...
45        4     45  0  57      1084.32  2008
48        3     48  0  60      1093.20  1822
43        2     43  0  55      1110.00  2220
44        1     44  0  56      1115.40  2145
46        0     46  0  58      1153.04  2059

[193 rows x 6 columns]

### Setup optimization problem

In [10]:
from ortools.linear_solver import pywraplp

In [11]:
solver = pywraplp.Solver.CreateSolver('GLOP')

In [12]:
dff

     level_0  index  R    T  ml_outcomes  N
0        192      0  0   11         0.03  1
1        191      1  0   13         0.04  1
2        190      2  0   14         0.04  1
3        189      3  0   15         0.12  3
4        188      4  0   16         0.15  3
..       ...    ... ..  ...          ... ..
188      161    188  1   98         2.42  2
189      170    189  1   99         1.22  1
190      169    190  1  100         1.22  1
191      168    191  1  101         1.22  1
192      167    192  1  109         1.23  1

[193 rows x 6 columns]

In [13]:
applicant_stratum = []
vars_cache = {}

# Objective: Maximize the expected utility of the admitted students
objective = solver.Objective()

# For each stratum
for ix, row in dff.iterrows():
    # probability of admission
    numvar = solver.NumVar(0.0, 1.0, str(ix))
    
    # store variable by index, and also by stratum R, T
    applicant_stratum.append(numvar)
    vars_cache[(row['R'],row['T'])] = numvar
    
    # Benefit of admitting people is total utility in that stratum
    objective.SetCoefficient(applicant_stratum[ix], float(row['ml_outcomes']))
objective.SetMaximization()

In [14]:
# Currently we have no constraints 
solver.NumConstraints()

0

In [15]:
# Constraint: At most K applicants
K = int(len(df)*FRAC_ADMIT)
print(K)
admit_quota = solver.Constraint(0, K)

# Total admits cannot exceed K 
for ix, row in dff.iterrows():
    admit_quota.SetCoefficient(applicant_stratum[ix], float(row['N']))

50000

In [16]:
# Now we have one constraint
solver.NumConstraints()

1

## Add Equalized Odds Constraints

In [17]:
from collections import Counter

def convertListToProb(raw_list):
    counts = dict(Counter(raw_list))
    probs = {}
    for test_score in counts:
        probs[test_score]  = counts[test_score]/float(len(raw_list))
    return [(probs[t], t) for t in probs]

In [18]:
T_blacks_list = df[df['R']==0][['T','T_black']].groupby('T')['T_black'].apply(list).reset_index(name='T_blacks')
T_blacks_list['probs'] = T_blacks_list['T_blacks'].apply(convertListToProb)
didntexist = 0
exists = 0
for ix, row in T_blacks_list.iterrows():
    cf_fair_stratum = solver.Constraint(0.0, 0.0)

    White_T = row['T']
    Blacks_Ts = row['probs']        
    cf_fair_stratum.SetCoefficient(vars_cache[(0.0, White_T)], -1.0)
    for prob in Blacks_Ts:
        if (1.0, prob[1]) not in vars_cache:
            vars_cache[(1.0, prob[1])] = solver.NumVar(0.0, 1.0, str((1.0, prob[1])))
            didntexist+=1
        else:
            exists+=1
        cf_fair_stratum.SetCoefficient(vars_cache[(1.0, prob[1])], prob[0])
didntexist,exists

(6, 720)

In [19]:
T_whites_list = df[df['R']==1][['T','T_white']].groupby('T')['T_white'].apply(list).reset_index(name='T_whites')
T_whites_list['probs'] = T_whites_list['T_whites'].apply(convertListToProb)
didntexist = 0
exists = 0

for ix, row in T_whites_list.iterrows():
    cf_fair_stratum = solver.Constraint(0.0, 0.0)

    Black_T = row['T']
    White_Ts = row['probs']
    
    cf_fair_stratum.SetCoefficient(vars_cache[(1.0, Black_T)], -1.0)
    for prob in White_Ts:
        if (0.0, prob[1]) not in vars_cache:
            vars_cache[(0.0, prob[1])] = solver.NumVar(0.0, 1.0, str((0.0, prob[1])))
            didntexist+=1
        else:
            exists+=1
            
        cf_fair_stratum.SetCoefficient(vars_cache[(0.0, prob[1])], prob[0])
didntexist,exists

(4, 643)

In [20]:
solver.NumConstraints()

194

## Solve linear program

In [21]:
solver.ABNORMAL

4

In [22]:
status = solver.Solve()

In [23]:
status

0

In [24]:
solver.OPTIMAL

0

In [25]:
row = []
admit = []

for i in applicant_stratum:
    row.append(int(str(i)))
    admit.append(i.solution_value())

df_decisions = pd.DataFrame({'row_id':row,'decision':admit})

In [26]:
df_decisions

     row_id  decision
0         0  0.000000
1         1  0.000000
2         2  0.000000
3         3  0.000000
4         4  0.201197
..      ...       ...
188     188  1.000000
189     189  1.000000
190     190  1.000000
191     191  1.000000
192     192  1.000000

[193 rows x 2 columns]

In [27]:
dff.merge(df_decisions,left_index=True,right_index=True).sort_values(by='ml_outcomes',ascending=False)

    level_0  index  R   T  ml_outcomes     N  row_id  decision
46        0     46  0  58      1153.04  2059      46  0.498997
44        1     44  0  56      1115.40  2145      44  0.498561
43        2     43  0  55      1110.00  2220      43  0.498351
48        3     48  0  60      1093.20  1822      48  0.499472
45        4     45  0  57      1084.32  2008      45  0.498775
..      ...    ... ..  ..          ...   ...     ...       ...
4       188      4  0  16         0.15     3       4  0.201197
3       189      3  0  15         0.12     3       3  0.000000
2       190      2  0  14         0.04     1       2  0.000000
1       191      1  0  13         0.04     1       1  0.000000
0       192      0  0  11         0.03     1       0  0.000000

[193 rows x 8 columns]

In [28]:
xxx_ = dff.merge(df_decisions,left_index=True,right_index=True).sort_values(by='ml_outcomes',ascending=False)
xxx_.sort_values(by='T')

     level_0  index  R    T  ml_outcomes  N  row_id  decision
104      184    104  1    9         0.27  1     104       0.0
0        192      0  0   11         0.03  1       0       0.0
105      185    105  1   11         0.27  1     105       0.0
106      183    106  1   12         0.27  1     106       0.0
1        191      1  0   13         0.04  1       1       0.0
..       ...    ... ..  ...          ... ..     ...       ...
99       178     99  0  112         0.99  1      99       1.0
100      177    100  0  113         0.99  1     100       1.0
101      176    101  0  114         0.99  1     101       1.0
102      163    102  0  118         1.98  2     102       1.0
103      175    103  0  119         0.99  1     103       1.0

[193 rows x 8 columns]

In [29]:
xxx = dff.merge(df_decisions,left_index=True,right_index=True).sort_values(by='ml_outcomes',ascending=False)
xxx

    level_0  index  R   T  ml_outcomes     N  row_id  decision
46        0     46  0  58      1153.04  2059      46  0.498997
44        1     44  0  56      1115.40  2145      44  0.498561
43        2     43  0  55      1110.00  2220      43  0.498351
48        3     48  0  60      1093.20  1822      48  0.499472
45        4     45  0  57      1084.32  2008      45  0.498775
..      ...    ... ..  ..          ...   ...     ...       ...
4       188      4  0  16         0.15     3       4  0.201197
3       189      3  0  15         0.12     3       3  0.000000
2       190      2  0  14         0.04     1       2  0.000000
1       191      1  0  13         0.04     1       1  0.000000
0       192      0  0  11         0.03     1       0  0.000000

[193 rows x 8 columns]

In [30]:
len(xxx_)

193

In [31]:
xxx.to_csv('./decision.csv')

In [32]:
solution = pd.read_csv('./decision.csv')

In [33]:
xxx

    level_0  index  R   T  ml_outcomes     N  row_id  decision
46        0     46  0  58      1153.04  2059      46  0.498997
44        1     44  0  56      1115.40  2145      44  0.498561
43        2     43  0  55      1110.00  2220      43  0.498351
48        3     48  0  60      1093.20  1822      48  0.499472
45        4     45  0  57      1084.32  2008      45  0.498775
..      ...    ... ..  ..          ...   ...     ...       ...
4       188      4  0  16         0.15     3       4  0.201197
3       189      3  0  15         0.12     3       3  0.000000
2       190      2  0  14         0.04     1       2  0.000000
1       191      1  0  13         0.04     1       1  0.000000
0       192      0  0  11         0.03     1       0  0.000000

[193 rows x 8 columns]

In [34]:
(xxx['ml_outcomes']*xxx['decision']).sum()

26288.031118417122

In [35]:
def maxMLOutcomes(frac_black=0.01):
    black_admits = int(K*frac_black)
    white_admits = int(K*(1-frac_black))
    
    b = df[df['R']==1].sort_values(by='ml_outcomes',ascending=False).head(n=black_admits)
    w = df[df['R']==0].sort_values(by='ml_outcomes',ascending=False).head(n=white_admits)
    
    return b['B_p'].sum() + w['B_p'].sum()

In [36]:
def maxMLOutcomesBlack(frac_black=0.01):
    black_admits = int(K*frac_black)
    white_admits = int(K*(1-frac_black))
    
    b = df[df['R']==1].sort_values(by='ml_outcomes',ascending=False).head(n=black_admits)
    w = df[df['R']==0].sort_values(by='ml_outcomes',ascending=False).head(n=white_admits)
    
    return b['B_p'].sum()

In [37]:
df['key'] = df['R'].astype(str)+'_'+df['T'].astype(str)
xxx['key'] = xxx['R'].astype(str)+'_'+xxx['T'].astype(str)

In [38]:
len(xxx)

193

In [39]:
admit_decisions = df.merge(xxx,how='left',on='key')
admit_decisions['decision_random'] = pd.Series([random.random() for x in range(0,len(admit_decisions))]) < FRAC_ADMIT


FRAC_BLACK_POLICY = (admit_decisions['R_y'] * admit_decisions['decision']).sum()/admit_decisions['decision'].sum()
SUM_BP_POLICY = ( admit_decisions['B_p'] * admit_decisions['decision']).sum()

FRAC_RANDOM_POLICY = (admit_decisions['R_y'] * admit_decisions['decision_random']).sum()/admit_decisions['decision_random'].sum()
SUM_BP_RAND_POLICY = ( admit_decisions['B_p'] * admit_decisions['decision_random']).sum()

In [40]:
file = open('./lp_results.csv','a')
file.write('{}\t{}\t{}\n'.format('Counterfactual Fairness',str(FRAC_BLACK_POLICY),str(SUM_BP_POLICY)))
file.close()

In [41]:
(xxx['N']*xxx['decision']).sum()/len(df)

0.49999999999999983