In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import random
import os

DIVERSITY_UTILITY = float(os.environ.get('DIVERSITY_UTILITY'))
FRAC_ADMIT = 0.5

In [2]:


###
## Load dataframe where each row is a single applicant
###

df = pd.read_csv('./df_test.csv')
df['key'] = df['R'].astype(str) + "_"  + df['T'].astype(str)

###
## Estimate E[Y(1)|T, A]
###

df_train = pd.read_csv('./df_train.csv')
df_stratum_utility = df_train[['R','T','Y']].groupby(['R','T']).mean().reset_index()
df_stratum_utility['stratum_utility'] = (df_stratum_utility['Y'] + DIVERSITY_UTILITY * df_stratum_utility['R']).round(2)
df_stratum_utility['key'] = df_stratum_utility['R'].astype(str) + "_" + df_stratum_utility['T'].astype(str)

df = df.merge(df_stratum_utility[['stratum_utility','key']], on='key')
df['ml_outcomes'] = df['stratum_utility']

In [3]:
df['Y_reject']

0        1
1        1
2        1
3        1
4        1
        ..
99995    1
99996    1
99997    1
99998    0
99999    0
Name: Y_reject, Length: 100000, dtype: int64

In [4]:
df['Y_stratum'] = df['Y'].astype(str) + df['Y_reject'].astype(str)

In [5]:
df['Y_stratum'].value_counts()

00    55968
11    35458
10     8574
Name: Y_stratum, dtype: int64

In [6]:
# = 
#df['Y_reject'] = df['Y']

In [7]:
FRAC_ADMIT = 0.5#df[['A']].sum()/len(df)

In [8]:
FRAC_ADMIT

0.5

In [9]:
len(df)

100000

In [10]:
#df['ml_outcomes'] = df['R']

In [11]:
##
# R = race, T = test score, ml_outcomes = expected utility from admitting, 
# ml_outcomes_{} counterfactual utility given race 
##

df[['R','T','ml_outcomes','T_minority','T_majority','Y']].sort_values(by='ml_outcomes')

       R    T  ml_outcomes  T_minority  T_majority  Y
99974  0   12         0.02          10          12  0
99914  0   16         0.03          10          16  0
99913  0   16         0.03          12          16  0
99650  0   17         0.06          14          17  0
99653  0   17         0.06          13          17  0
...   ..  ...          ...         ...         ... ..
99940  1   94         1.21          94         107  0
99949  1  101         1.23         101         118  1
98552  1   98         1.25          98         114  1
99977  1  112         1.25         112         129  1
99976  1   97         1.25          97         114  1

[100000 rows x 6 columns]

In [12]:
#df['ml_outcomes'] = df['ml_outcomes'] + 1*df['R']

In [13]:
###
## Get total utility from admitting people in a stratum 
###

df_ = df[['R','T','Y','Y_reject','ml_outcomes']].groupby(['R','T','Y','Y_reject']).sum().reset_index()

In [14]:
###
## Get number of people in each stratum
###

df_count = df[['R','T','ml_outcomes','Y','Y_reject']].groupby(['R','T','Y','Y_reject']).count().reset_index()
df_count.columns = ['R','T','Y','Y_reject','Count']
df_count['N'] = df_count['Count']

In [15]:
###
## Merge summary tables to get one table with Race, Test Score, SUM(Utility), COUNT(applicants) per stratum
###

dff = df_.merge(df_count[['N']],left_index=True,right_index=True).sort_values(by='ml_outcomes',ascending=False).reset_index().sort_values(by='index').reset_index()

In [16]:
# final info table
dff.sort_values(by='ml_outcomes')

     level_0  index  R   T  Y  Y_reject  ml_outcomes     N
0        478      0  0  12  0         0         0.02     1
3        477      3  0  16  0         0         0.06     2
5        476      5  0  17  1         1         0.06     1
2        474      2  0  15  0         0         0.07     1
11       473     11  0  20  1         1         0.07     1
..       ...    ... ..  .. ..       ...          ...   ...
128        4    128  0  60  1         1       553.20   922
131        3    131  0  61  1         1       563.58   909
134        2    134  0  62  1         1       563.84   881
105        1    105  0  53  0         0       564.42  1227
140        0    140  0  64  1         1       576.87   861

[479 rows x 8 columns]

### Setup optimization problem

In [17]:
from ortools.linear_solver import pywraplp

In [18]:
solver = pywraplp.Solver.CreateSolver('GLOP')

In [19]:
len(dff[['R','T','Y','Y_reject']])

479

In [20]:
dff

     level_0  index  R    T  Y  Y_reject  ml_outcomes  N
0        478      0  0   12  0         0         0.02  1
1        468      1  0   13  0         0         0.10  1
2        474      2  0   15  0         0         0.07  1
3        477      3  0   16  0         0         0.06  2
4        454      4  0   17  0         0         0.42  7
..       ...    ... ..  ... ..       ...          ... ..
474      418    474  1   95  1         1         1.19  1
475      409    475  1   97  1         1         1.25  1
476      410    476  1   98  1         1         1.25  1
477      413    477  1  101  1         1         1.23  1
478      411    478  1  112  1         1         1.25  1

[479 rows x 8 columns]

In [21]:
applicant_stratum = []
vars_cache = {}

# Objective: Maximize the expected utility of the admitted students
objective = solver.Objective()

# For each stratum
for ix, row in dff.iterrows():
    # probability of admission
    numvar = solver.NumVar(0.0, 1.0, str(ix))
    
    # store variable by index, and also by stratum R, T
    applicant_stratum.append(numvar)
    vars_cache[(row['R'],row['T'],row['Y'], row['Y_reject'])] = numvar
    
    # Benefit of admitting people is total utility in that stratum
    objective.SetCoefficient(applicant_stratum[ix], float(row['ml_outcomes']))
objective.SetMaximization()

In [22]:
# Currently we have no constraints 
solver.NumConstraints()

0

In [23]:
# Constraint: At most K applicants
K = int(len(df)*FRAC_ADMIT)
print(K)
admit_quota = solver.Constraint(0, K)

# Total applicants cannot exceed K 
for ix, row in dff.iterrows():
    admit_quota.SetCoefficient(applicant_stratum[ix], float(row['N']))

50000

In [24]:
# Now we have one constraint
solver.NumConstraints()

1

## Add Equalized Odds Constraints

In [25]:
## Make sure that you have to add all people in Y stratum or none
## i.e. you can't add only people who pass boards and reject those who fail boards from same T, R stratum
didntexist, exists = 0, 0 

for ix, row in dff.iterrows():
    
    
    var1 = vars_cache[(row['R'],row['T'],row['Y'], row['Y_reject'])]
    key2s = [(row['R'],row['T'], 1-row['Y'], 1-row['Y_reject']), (row['R'],row['T'], row['Y'], 1-row['Y_reject']), (row['R'],row['T'], 1-row['Y'], row['Y_reject'])]
    
    for key2 in key2s:
        constrain_bp = solver.Constraint(0.0, 0.0)
        
        if key2 not in vars_cache:
            didntexist+=1
            continue
            
        var2 = vars_cache[key2]
        
        constrain_bp.SetCoefficient(var1, -1.0)
        constrain_bp.SetCoefficient(var2, 1.0)
        exists+=1

didntexist, exists

(593, 844)

In [26]:
majority_pass_boards_pass_boards_reject = []
majority_fail_boards_pass_boards_reject = []
minority_pass_boards_pass_boards_reject = []
minority_fail_boards_pass_boards_reject = []
majority_pass_boards_fail_boards_reject = []
majority_fail_boards_fail_boards_reject = []
minority_pass_boards_fail_boards_reject = []
minority_fail_boards_fail_boards_reject = []


for key in vars_cache:
    r, t, Y, Y_reject = key
    if Y == 1 and r==0 and Y_reject==1:
        majority_pass_boards_pass_boards_reject.append(key)
    elif Y == 0 and r==0 and Y_reject==1:
        majority_fail_boards_pass_boards_reject.append(key)
    elif Y == 1 and r==1 and Y_reject==1:
        minority_pass_boards_pass_boards_reject.append(key)
    elif Y == 0 and r==1 and Y_reject==1:
        minority_fail_boards_pass_boards_reject.append(key)
        
    if Y == 1 and r==0 and Y_reject==0:
        majority_pass_boards_fail_boards_reject.append(key)
    elif Y == 0 and r==0 and Y_reject==0:
        majority_fail_boards_fail_boards_reject.append(key)
    elif Y == 1 and r==1 and Y_reject==0:
        minority_pass_boards_fail_boards_reject.append(key)
    elif Y == 0 and r==1 and Y_reject==0:
        minority_fail_boards_fail_boards_reject.append(key)

len(majority_pass_boards_pass_boards_reject),len(majority_fail_boards_pass_boards_reject),len(minority_pass_boards_pass_boards_reject),len(minority_fail_boards_pass_boards_reject)

(97, 0, 80, 0)

In [27]:
NUM_TOTALS = {}
df_totals = dff[['N','R','Y','Y_reject']].groupby(['R','Y','Y_reject']).sum().reset_index()
for ix, row in df_totals.iterrows():
    NUM_TOTALS[(row['R'],row['Y'],row['Y_reject'])] = row['N']
    
N_IN_STRATAS = {}
for ix, row in dff.iterrows():
    N_IN_STRATAS[(row['R'],row['T'],row['Y'],row['Y_reject'])] = row['N']

In [28]:
# Now we have one constraint
solver.NumConstraints()

1438

In [29]:
#Of those who pass the boards exams, pass boards exams if rejected
#Frac majority admitted and frac minority admitted should be the same

constrain_pass_boards_pass_boards_reject = solver.Constraint(0.0, 0.0)

for key in majority_pass_boards_pass_boards_reject:
    r, t, Y, Y_reject = key
    N_IN_STRATUM = N_IN_STRATAS[(r,t,Y, Y_reject)]
    N_TOTAL = NUM_TOTALS[(r,Y, Y_reject)]
    
    constrain_pass_boards_pass_boards_reject.SetCoefficient(vars_cache[key], float(N_IN_STRATUM) / float(N_TOTAL))

for key in minority_pass_boards_pass_boards_reject:
    r, t, Y, Y_reject = key
    N_IN_STRATUM = N_IN_STRATAS[(r,t,Y, Y_reject)]
    N_TOTAL = NUM_TOTALS[(r,Y, Y_reject)]
    
    constrain_pass_boards_pass_boards_reject.SetCoefficient(vars_cache[key], -1.0 * (float(N_IN_STRATUM) / float(N_TOTAL)))

In [30]:
#Of those who fail the boards exams, pass boards exams if rejected
#Frac majority admitted and frac minority admitted should be the same

constrain_fail_boards_pass_boards_reject = solver.Constraint(0.0, 0.0)

for key in majority_fail_boards_pass_boards_reject:
    r, t, Y, Y_reject = key
    N_IN_STRATUM = N_IN_STRATAS[(r,t,Y, Y_reject)]
    N_TOTAL = NUM_TOTALS[(r,Y, Y_reject)]
    
    constrain_fail_boards_pass_boards_reject.SetCoefficient(vars_cache[key], float(N_IN_STRATUM) / float(N_TOTAL))

for key in minority_fail_boards_pass_boards_reject:
    r, t, Y, Y_reject = key
    N_IN_STRATUM = N_IN_STRATAS[(r,t,Y, Y_reject)]
    N_TOTAL = NUM_TOTALS[(r,Y, Y_reject)]
    
    constrain_fail_boards_pass_boards_reject.SetCoefficient(vars_cache[key], -1.0 * (float(N_IN_STRATUM) / float(N_TOTAL)))

In [31]:
constrain_pass_boards_fail_boards_reject = solver.Constraint(0.0, 0.0)

for key in majority_pass_boards_fail_boards_reject:
    r, t, Y, Y_reject = key
    N_IN_STRATUM = N_IN_STRATAS[(r,t,Y, Y_reject)]
    N_TOTAL = NUM_TOTALS[(r,Y, Y_reject)]
    
    constrain_pass_boards_fail_boards_reject.SetCoefficient(vars_cache[key], float(N_IN_STRATUM) / float(N_TOTAL))

for key in minority_pass_boards_fail_boards_reject:
    r, t, Y, Y_reject = key
    N_IN_STRATUM = N_IN_STRATAS[(r,t,Y, Y_reject)]
    N_TOTAL = NUM_TOTALS[(r,Y, Y_reject)]
    
    constrain_pass_boards_fail_boards_reject.SetCoefficient(vars_cache[key], -1.0 * (float(N_IN_STRATUM) / float(N_TOTAL)))

    
#Of those who fail the boards exams, fail boards exams if rejected
#Frac majority admitted and frac minority admitted should be the same

constrain_fail_boards_fail_boards_reject = solver.Constraint(0.0, 0.0)

for key in majority_fail_boards_fail_boards_reject:
    r, t, Y, Y_reject = key
    N_IN_STRATUM = N_IN_STRATAS[(r,t,Y, Y_reject)]
    N_TOTAL = NUM_TOTALS[(r,Y, Y_reject)]
    
    constrain_fail_boards_fail_boards_reject.SetCoefficient(vars_cache[key], float(N_IN_STRATUM) / float(N_TOTAL))

for key in minority_fail_boards_fail_boards_reject:
    r, t, Y, Y_reject = key
    N_IN_STRATUM = N_IN_STRATAS[(r,t,Y, Y_reject)]
    N_TOTAL = NUM_TOTALS[(r,Y, Y_reject)]
    
    constrain_fail_boards_fail_boards_reject.SetCoefficient(vars_cache[key], -1.0 * (float(N_IN_STRATUM) / float(N_TOTAL)))

## Add constraints on people who fail boards exams

## Solve linear program

In [32]:
solver.ABNORMAL

4

In [33]:
status = solver.Solve()

In [34]:
status

0

In [35]:
solver.OPTIMAL

0

In [36]:
applicant_stratum

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263,
 264,
 265,
 266,
 267,
 268,
 269,
 270,
 271,
 272,
 273,
 274,
 275,
 276,
 277,
 278,
 279,
 280,
 281,
 282,
 283,
 284,
 285,
 286,
 287,
 288,
 289,
 290,
 291,
 292,
 293,
 294,
 295,
 296,
 297,
 298,
 299,
 300,
 301,
 302,
 303,
 304,
 305,
 306,
 307,
 308,
 309,
 310,
 311,
 312,
 313,
 314,
 315,
 316,
 317,
 318,
 319,
 320,
 321,
 322,
 323,
 324,
 325,
 326,
 327,
 328,
 329,
 330,
 331,
 332,
 333,
 334,
 335,
 336,
 337,
 338,
 339,
 340,
 341,
 342,
 343,
 344,
 345,
 346,
 347,
 348,
 349,
 350,
 351,
 352,
 353,
 354,
 355,
 356,
 357,
 358,
 359,
 360,
 361,
 362,
 363,
 364,
 365,
 366,
 367,
 368,
 369,
 370,
 371,
 372,
 373,
 374,
 375,
 376,
 377,
 378,
 379,
 380,
 381,
 382,
 383,
 384,
 385,
 386,
 387,
 388,
 389,
 390,
 391,
 392,
 393,
 394,
 395,
 396,
 397,
 398,
 399,
 400,
 401,
 402,
 403,
 404,
 405,
 406,
 407,
 408,
 409,
 410,
 411,
 412,
 413,
 414,
 415,
 416,
 417,
 418,
 419,
 420,
 421,
 422,
 423,
 424,
 425,
 426,
 427,
 428,
 429,
 430,
 431,
 432,
 433,
 434,
 435,
 436,
 437,
 438,
 439,
 440,
 441,
 442,
 443,
 444,
 445,
 446,
 447,
 448,
 449,
 450,
 451,
 452,
 453,
 454,
 455,
 456,
 457,
 458,
 459,
 460,
 461,
 462,
 463,
 464,
 465,
 466,
 467,
 468,
 469,
 470,
 471,
 472,
 473,
 474,
 475,
 476,
 477,
 478]

In [37]:
row = []
admit = []

for i in applicant_stratum:
    row.append(int(str(i)))
    admit.append(i.solution_value())

df_decisions = pd.DataFrame({'row_id':row,'decision':admit})

In [38]:
df_decisions

     row_id  decision
0         0       0.0
1         1       0.0
2         2       0.0
3         3       0.0
4         4       0.0
..      ...       ...
474     474       1.0
475     475       1.0
476     476       1.0
477     477       1.0
478     478       1.0

[479 rows x 2 columns]

In [39]:
dff.merge(df_decisions,left_index=True,right_index=True).sort_values(by='ml_outcomes',ascending=False)

     level_0  index  R   T  Y  Y_reject  ml_outcomes     N  row_id  decision
140        0    140  0  64  1         1       576.87   861     140       1.0
105        1    105  0  53  0         0       564.42  1227     105       0.0
134        2    134  0  62  1         1       563.84   881     134       1.0
131        3    131  0  61  1         1       563.58   909     131       1.0
128        4    128  0  60  1         1       553.20   922     128       1.0
..       ...    ... ..  .. ..       ...          ...   ...     ...       ...
2        474      2  0  15  0         0         0.07     1       2       0.0
13       475     13  0  21  1         1         0.07     1      13       0.0
5        476      5  0  17  1         1         0.06     1       5       0.0
3        477      3  0  16  0         0         0.06     2       3       0.0
0        478      0  0  12  0         0         0.02     1       0       0.0

[479 rows x 10 columns]

In [40]:
xxx_ = dff.merge(df_decisions,left_index=True,right_index=True).sort_values(by='ml_outcomes',ascending=False)
xxx_.sort_values(by='T')

     level_0  index  R    T  Y  Y_reject  ml_outcomes  N  row_id  decision
259      463    259  1    7  0         0         0.25  1     259       0.0
0        478      0  0   12  0         0         0.02  1       0       0.0
260      460    260  1   12  0         0         0.31  1     260       1.0
1        468      1  0   13  0         0         0.10  1       1       0.0
261      453    261  1   13  0         0         0.60  2     261       1.0
..       ...    ... ..  ... ..       ...          ... ..     ...       ...
254      396    254  0  113  1         1         1.98  2     254       0.0
255      430    255  0  115  1         1         1.00  1     255       0.0
256      429    256  0  116  1         1         1.00  1     256       0.0
257      433    257  0  118  1         1         0.98  1     257       0.0
258      431    258  0  130  1         1         1.00  1     258       0.0

[479 rows x 10 columns]

In [41]:
xxx = dff.merge(df_decisions,left_index=True,right_index=True).sort_values(by='ml_outcomes',ascending=False)
xxx

     level_0  index  R   T  Y  Y_reject  ml_outcomes     N  row_id  decision
140        0    140  0  64  1         1       576.87   861     140       1.0
105        1    105  0  53  0         0       564.42  1227     105       0.0
134        2    134  0  62  1         1       563.84   881     134       1.0
131        3    131  0  61  1         1       563.58   909     131       1.0
128        4    128  0  60  1         1       553.20   922     128       1.0
..       ...    ... ..  .. ..       ...          ...   ...     ...       ...
2        474      2  0  15  0         0         0.07     1       2       0.0
13       475     13  0  21  1         1         0.07     1      13       0.0
5        476      5  0  17  1         1         0.06     1       5       0.0
3        477      3  0  16  0         0         0.06     2       3       0.0
0        478      0  0  12  0         0         0.02     1       0       0.0

[479 rows x 10 columns]

In [42]:
len(xxx)

479

In [43]:
df['key'] = df['R'].astype(str)+'_'+df['T'].astype(str)+'_'+df['Y'].astype(str)+'_'+df['Y_reject'].astype(str)
xxx['key'] = xxx['R'].astype(str)+'_'+xxx['T'].astype(str)+'_'+xxx['Y'].astype(str)+'_'+xxx['Y_reject'].astype(str)

In [44]:
admit_decisions = df.merge(xxx[['key','decision']],how='left',on='key')
admit_decisions['decision_random'] = pd.Series([random.random() for x in range(0,len(admit_decisions))]) < FRAC_ADMIT

FRAC_minority_POLICY = (admit_decisions['R'] * admit_decisions['decision']).sum()/admit_decisions['decision'].sum()
SUM_BP_POLICY = ( admit_decisions['Y'] * admit_decisions['decision']).sum()

FRAC_RANDOM_POLICY = (admit_decisions['R'] * admit_decisions['decision_random']).sum()/admit_decisions['decision_random'].sum()
SUM_BP_RAND_POLICY = ( admit_decisions['Y'] * admit_decisions['decision_random']).sum()

In [45]:
file = open('./lp_results.csv','a')
file.write('{}\t{}\t{}\n'.format('Principal Fairness',str(FRAC_minority_POLICY),str(SUM_BP_POLICY)))
file.close()

In [46]:
(xxx['N']*xxx['decision']).sum()/len(df)

0.49999999999999983